.center-checkbox {
    display: grid;
    width: 100%;
    border: 1px solid #ddd;
    text-align: right;
    padding-top: 3px;
}

.smaller-font {
    font-size: 0.9rem;
    margin-right: 0.45rem;
}

.one-px-border {
    border: 1px solid #ddd;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.title-align {
    font-size: 0.9rem;
    text-align: center;
    padding: 5px 10px 0 !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.wider {
    width: 98% !important;
}

.full-width {
    width: 100%;
}

.left-margin-80 {
    margin-left: 80px;
}

/* -------------------------------------- Overrides for Materialize defaults: */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card .card-action {
    border-top: 0;
}

.card-content .index-img img {
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.card .card-image img {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #37474f;
    -webkit-box-shadow: 0 1px 0 0 #37474f;
    box-shadow: 0 1px 0 0 #37474f;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
    color: #37474f;
}

.input-field .prefix.active {
    color: #37474f;
}

.disabled.btn-small,
.btn-small.disabled,
.btn-flat.disabled,
.btn-small:disabled,
.btn-small:disabled,
.btn-small[disabled],
.btn-small[disabled] {
    background-color: #cfd8dc !important;
    color: #607d8b !important;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid #ffffff;
}

[type="checkbox"]:checked:disabled+span:before {
    border-right: 2px solid rgba(76, 175, 80, 0.42);
    border-bottom: 2px solid rgba(76, 175, 80, 0.42);
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #4caf50  ;
    border-bottom: 2px solid #4caf50  ;
}
