{% extends 'base.html' %} {% block nav_content %}

<ul id="nav-mobile" class="right">
    <li><a href="{{url_for('log_out')}}" class="waves-effect waves-light btn-small red lighten-1 white-text one-px-border">x</a></li>
</ul>
<ul id="nav-mobile" class="left left-margin-40">
    <li><span class="blue-grey-text text-lighten-3">User: </span><span class="yellow-text"><strong>{{ display_name }}</strong></span></li>
</ul>

{% endblock %} {% block content %}

<div class="wider container">
    <div class="row no-margin no-padding">
        <div class="col s12">
            <div class="card blue-grey lighten-3">
                <div class="card-content col-padding blue-grey-text one-px-border">
                    <span class="card-title center">Users</span>
                    <div class="card-panel blue-grey lighten-4">
                        <div class="row">
                            <table class="highlight">
                                <tr class="valign-wrapper blue-grey blue-grey-text text-lighten-4">
                                    <th class="col s2">Username</th>
                                    <th class="col s2">Displayname</th>
                                    <th class="col s2">Unread Comics</th>
                                    <th class="col s2">Read Comics</th>
                                    <th class="col s2">Del User</th>
                                </tr>
                                {% for user in user_list %}
                                <tr class=valign-wrapper>
                                    <td class="col s2 {{user.user_name}}-td">{{user.user_name}}</td>
                                    <td class="col s2 {{user.user_name}}-td">{{user.display_name}}</td>
                                    <td class="col s2 {{user.user_name}}-td">{{user.comics_unread}}</td>
                                    <td class="col s2 {{user.user_name}}-td">{{user.comics_read}}</td>
                                    <td class="col s2 {{user.user_name}}-td red-text">
                                        <form  action="{{url_for('adm_del_user')}}" method="POST">
                                            <span id="del-{{user.user_name}}" class="red-text smaller-font">
                                                Delete User?</span>
                                            <label for="{{user.user_name}}">
                                            <button type="button" class="del-user btn-small waves-effect waves-light blue-grey white-text one-px-border" id="{{user.user_name}}" name="{{user.user_name}}">
                                                <i class="material-icons white-text">delete_forever</i>
                                            </button>
                                            <span id="del-{{user.user_name}}" class="white-text">&nbsp;</span>
                                            </label>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
