{% extends 'base.html' %} {% block content %}
<header>
    <nav>
        <div class="nav-wrapper black">
            <a href="#" class="brand-logo right">Reading List</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('sign_up')}}">Sign Up</a></li>
                <li><a href="{{url_for('sign_in')}}">Sign In</a></li>
                <li><a href="{{url_for('add_comics')}}">Add Comics</a></li>
                <li><a href="">Manage List</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <!-- Add specific page content below! -->
    <ul class="collection">
        {% for comic in new_comics_list %}
        <li class="collection-item avatar">
            <img src="{{comic.comic_image}}" alt="{{comic.comic_title}}" height="100">
            <span class="title">{{comic.comic_title}}</span>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        {% endfor %}
    </ul>
    <!-- End of specific page content. -->
</div>

{% endblock %}
