<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightbox.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon-96x96.png')}}">
    <title>Marvel Reading List</title>
</head>

<body class="blue-grey lighten-4">
    <header id="top">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper blue-grey one-px-border">
                    <a href="#top" class="back-top left">
                        <i class="material-icons left">vertical_align_top</i>
                        <span class="back-top-text">TOP</span>
                    </a> 
                    {% block nav_content%} 
                    {% endblock %}
                </div>
            </nav>
        </div>
    </header>
    {% block content %} 
    {% endblock %}
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/lightbox.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
</body>
</html>
