{% extends 'base.html' %} {% block nav_content %}

<ul id="nav-mobile" class="right">
    <li><a href="{{url_for('index')}}" class="waves-effect waves-light btn-small blue-grey white-text one-px-border"><i class="material-icons left">home</i> Home</a></li>
    <li><a href="{{url_for('sign_up')}}" class="waves-effect waves-light btn-small green white-text one-px-border"><i class="material-icons left">how_to_reg</i> Sign Up</a></li>
    <li><a href="{{url_for('sign_in')}}" class="disabled waves-effect waves-light btn-small blue-grey white-text one-px-border"><i class="material-icons left">person</i> Sign In</a></li>
</ul>

{% endblock %} {% block content %}

<div class="wider container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-content blue-grey lighten-3 one-px-border">
                    <div class="index-img">
                        <img src="{{url_for('static', filename='images/index-img.jpg')}}">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content blue-grey lighten-3 blue-grey-text text-darken-2 one-px-border">
                    <div class="card-panel">
                        <span class="card-title">Sign In</span>
                        <div class="row">
                            <form action="{{url_for('sign_in_submit')}}" method="POST" class="col s12">
                                <div class="row no-bottom-margin">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input placeholder="enter your user name" id="uname" name="uname" type="text" value="{{ if_pw_error }}">
                                        <label for="uname">Username<span class="red-text"><b>{{ u_error }}</b></span></label>
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input placeholder="enter your password" id="pwd" name="pwd" type="password">
                                        <label for="pwd">Password<span class="red-text"><b>{{ p_error }}</b></span></label>
                                    </div>
                                    <span class="col s12 center">
                                    <button class="btn-small waves-effect waves-light blue-grey white-text" type="submit" name="action">
                                        Sign In<i class="material-icons right">person</i>
                                    </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
